
/*
.container {
    max-width: 100%;
}
.row{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.col-md-4 {
    flex: 33.3%; 
}

.col-md-12{
    flex: 100%;
}

@media (max-width: 750px){
    .col-sm-4 {
        flex: 30%; 
    }
    
    .col-sm-12{
        flex: 100%;
    }
}
*/

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.content{
    margin-top: 100px;
}
.bg{
    background-color: #343a40!important;
}
.navbar-brands {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar .navbar-brands {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: rgb(255 249 249 / 90%) !important;
}
.navbar-nav .disable{
    color: rgba(255,255,255,.25) !important;
}
.navbar-nav{
    --bs-nav-link-color: rgba(255,255,255,.5) !important;
    --bs-nav-link-hover-color: rgba(255,255,255,.75) !important;
}
.navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1) !important;
}
.nav-right {
    margin-right: auto!important;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.mr-1 {
    margin-right: .5rem!important;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.featurette-divider {
    margin: 5rem 0;
}

.container .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.container .float-right{
    float: right;
}

.container a{
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer .container{
   margin-top: 0px;
}
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
}